/*
Article Comments Page
/css/article/commentspage10.css
pfagan 2/2008
*/

/* Page Layout */

#sfg_article,
#sfg_article .x88 .creative { padding-top: 10px; }

#sfg_article table.article {
margin-bottom: 10px;
border-collapse: collapse;
table-layout: fixed;
}

#sfg_article table.article tr.article { vertical-align: top; }

#sfg_article #contentcol { width: 627px; padding-right:10px; }

#groupmenu {
    margin-top:10px;
    width: 300px;
    padding: 0 0 0 11px;
    background: #fff url('http://imgs.sfgate.com/templates/types/article/graphics/vertical_rule.gif') repeat-y;
}


/* Column 2 Items ----------------------------------------------------------- */

#adpos3 { margin-bottom: 10px; text-align: center; }

#topmost,#adjacency,#adpos2,#adpos4 {
    margin-bottom:10px;
}

table.groupmenu {
    width:300px;
}

table.groupmenu tr {
    vertical-align: top;
}

table.groupmenu td.leftcol {
    padding-right:10px;
}

/* Classifieds Module CLS003 */

.sfg_cls003 { margin-bottom: 10px; clear:both;}


/* display hacks ------------------------------------------------------------ */

 .clear { clear: both; }
p.clear { margin: 0; padding: 0; }




/* Link Colors */

#commentspage a:link,   
#commentspage a:visited { text-decoration: none; color: #015660; }
#commentspage a:hover,
#commentspage a:active  { text-decoration: underline; }

.ac-contentbody { margin-left: 10px; }

/* Comments Page */

#commentspage {
padding-bottom: 10px;
border-bottom: 1px solid #CCC;
width: 627px;
}
# articlePageCommentBoxWrapper #commentspage { width: 617px; }

#commentspage h2 { font-size:1.26em; }

#commentspage h1,
#commentspage h2,
#commentspage h3 { font-family:Arial,Helvetica,sans-serif; }

#commentspage h4,
#commentspage p,
#commentspage textarea,
#commentspage label,
#commentspage input {
margin: 0 0 5px 0;
padding: 0;
font-family: Verdana, sans-serif;
font-size: .88em;
}

#commentspage .details,
#commentspage .recommend,
#commentspage .reportabuse,
#commentspage label {
color: #666;
}

#commentspage .header {
background: #EFEFEF;
padding: 15px 15px 10px 15px;
border-bottom: 1px solid #CCC;
}
#commentspage .header2 {
background: #FFFFFF;
padding: 15px 15px 10px 15px; padding: 0px 15px 0px 15px;
height: 3em;
line-height: 3em;
background: url('http://imgs.sfgate.com/templates/types/article/graphics/tools_dashline.gif') bottom left repeat-x;
}

#commentspage .alertmsg {
    margin: 0 0 8px 15px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

#commentspage .header h1 {
    display: inline;
    float: left;
    width:80px;
    height: 11px;
    margin:0 0 10px 0;
    padding: 0;
    text-indent: -1024px;
    background: url('http://imgs.sfgate.com/templates/types/article/graphics/comments_heading.gif') no-repeat;
}

#commentspage .header h1,
#commentspage .header #sfgate_topCnt {
    font-size: .88em;
}

#commentspage .header #sfgate_topCnt {
    display: inline;
    float: left;
    width: 120px;
    margin:-2px 0 10px 7px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

#commentspage .header h2,
#commentspage .header h3 {
    clear: both;
    margin: 0 0 0;
    padding: 0;
    font-size: 1.02em;
}

#commentspage .header .details {
margin: 7px 0;
}

#commentspage .header .desc {
font-family: Georgia, "Times New Roman", serif;
font-size: 1.02em;
margin-bottom:10px;
}

#commentspage .header p {
margin-top: 5px;
}

#commentspage .header #sfgate_addlink {
margin-right: 20px;
}

#commentspage .header2 P {
margin: 0;
}

#commentspage .header2 .commentsAddYourCommentLink {
vertical-align: middle;
font-weight: bold;
}

#commentspage .header2 .sortCommentsTogglePara {
float: right;
text-align: right;
vertical-align: middle;
margin: 0;
font-size: 0.785em;
padding-top: 1px;
}

#commentspage .commentslist {
	background: url('http://imgs.sfgate.com/templates/types/article/graphics/tools_dashline.gif') bottom left repeat-x;
    padding-bottom: 1px;
}

#commentspage #commentslist {
  background-image: none;
}

#commentspage #commentslist-page2 {
  ;
}

#commentspage .commentslist .item {
height: 1%; /* Holly Hack */
padding: 7px 15px 2px 15px;
padding: 10px 15px;
background: #EFEFEF;
}

#commentspage .commentslist .item h4 {
font-weight: normal;
}
#commentspage .commentslist .item h4 a {
font-weight: bold;
}

#commentslist tr,
#commentslist td { vertical-align: top !important; }


#commentspage .commentslist .item p { line-height: 16px;}

#commentspage .commentslist .item .details,
#commentspage .commentslist .item .recommend,
#commentspage .commentslist .item .recommended,
#commentspage .commentslist .item .recommendlabel,
#commentspage .commentslist .item .disapprove,
#commentspage .commentslist .item .disapproved,
#commentspage .commentslist .item .disapprovelabel,
#commentspage .commentslist .item .reportabuse,
#commentspage .commentslist .item .recommendlinelabel,
#commentspage .commentslist .item .reportabuselabel {
display:inline;
float:left;
height:16px;
font-family: Verdana, Arial, sans-serif;
font-size: .86em; font-size: .79em;
}

#commentspage .commentslist .item .recommendlinelabel {
padding-top: 2px;
}

#commentspage .commentslist .item .details {
width: 286px;
padding: 1px 0 0 0;
}

#commentspage .commentslist .item .recommend,
#commentspage .commentslist .item .recommended,
#commentspage .commentslist .item .disapprove,
#commentspage .commentslist .item .disapproved,
#commentspage .commentslist .item .reportabuse {
width: 16px;
display: block;
}

#commentspage .commentslist .item .recommend {
background: url('http://imgs.sfgate.com/templates/types/article/graphics/thumbs_up.gif') no-repeat;
}

#commentspage .commentslist .item .disapprove {
background: url('http://imgs.sfgate.com/templates/types/article/graphics/thumbs_down.gif') no-repeat;
}

#commentspage .commentslist .item .reportabuse {
background: url('http://imgs.sfgate.com/templates/types/article/graphics/comments_alert.gif') no-repeat;
}

#commentspage .commentslist .item .checked, #commentspage .commentslist .item .recommended {
background: url('http://imgs.sfgate.com/templates/types/article/graphics/thumbs_up.gif') no-repeat;
text-indent:13px;
width:63px !important;
}

#commentspage .commentslist .item .disapproved {
background: url('http://imgs.sfgate.com/templates/types/article/graphics/thumbs_down.gif') no-repeat;
text-indent:13px;
width:63px !important;
}

#commentspage .commentslist .item .recommendlabel,
#commentspage .commentslist .item .disapprovelabel,
#commentspage .commentslist .item .reportabuselabel {
padding-left: 4px;
}

#commentspage .commentslist .item .disapprovelabel {
width: 35px;
}

#commentspage .commentslist .item .recommendlabel {
width: 48px;
}

#commentspage .commentslist .odd {
background: #FFF;
}

#commentspage div.pagenav {
width: 561px;
margin: 0 0 10px 0;
background: url('http://imgs.sfgate.com/templates/types/article/graphics/tools_dashline.gif') bottom left repeat-x;
padding: 10px 15px 11px 15px;
font-family: Verdana, sans-serif;
font-size: .86em;
line-height: 16px;
}
#commentspage .pagenav strong,
#commentspage .pagenav a {
padding-right: 5px;
}

#commentspage .commentform {
margin:0;
padding: 0 15px;
}

#sfg_article FORM.commentform {
padding-left: 15px;
}

#sfg_article #articlePageCommentBoxWrapper FORM.commentform {
margin:0;
padding: 0 15px 0 0;
}

#commentspage .commentform .alertmsg {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

#commentspage .error { color: #900; } 
#commentspage .commentform p.error { color: #c00; }

#commentspage .commentform textarea,
#commentspage .commentform input.count {
border-right:   1px solid #CCC;
border-bottom: 1px solid #CCC;
}

#commentspage .commentform textarea {
width: 400px;
height: 7.35em;
}

#commentspage table.fb-table td {
font: normal .88em Verdana, sans-serif;
}


#commentspage .fb-checkbox {
padding: 0 4px !important;
}
* html #commentspage .fb-checkbox { padding: 0 !important; }

#commentspage table.fb-table input {
margin: 0 !important;
}

#commentspage table.fb-table {
margin-bottom: 4px;
}

#commentspage .commentform input.submit,
#commentspage .commentform label,
#commentspage .commentform input.count {
display:inline;
float: left;
}

#commentspage .commentform input.submit {
width: 58px;
}

#commentspage .commentform label {
margin: 0 7px 0 190px;
width: 100px;
text-align:right;
}

#commentspage .commentform input.count {
width: 45px;
}

/* Report Abuse */

#commentspage div.ReportAbuse_Container {
margin: 15px 0 0 0;
background-color:#cccccc;
width:170px;
border:1px solid #000000;
font-family:Verdana;
text-align:left;
z-index:4;
position:absolute;
font-weight:bold;
font-size:10px;
}

#commentspage div.ReportAbuse_SectionHead {
padding:2px;
height:15px;
}

#commentspage div.ReportAbuse_SectionHead a {
float:right;
border:1px solid #000000;
color:#000000;
background-color:#FFFFFF;
padding:1px;
text-decoration:none;
}

#commentspage div.ReportAbuse_SectionHead a:hover {
background-color:#000000;
color:#FFFFFF;
}

#commentspage div.ReportAbuse_Interior {
width:170px;
padding-bottom:3px;
clear:both;
}

#commentspage div.ReportAbuse_Interior a {
float:left;
font-weight:bold;
height:15px;
border-bottom:1px solid #000000;
color:#000000;
padding:2px 0px 0px 10px;
width:160px;
background-color:#FFFFFF;
text-decoration:none;
}

#commentspage div.ReportAbuse_Interior a:hover {
background-color:#CCCCCC;
}

#commentspage div.ReportAbuse_Interior select {
width: 162px;
margin:2px 0 0 5px;
font-size:11px;
}

#commentspage div.ReportAbuse_Comment {
width:170px;
}

#commentspage div.ReportAbuse_Comment textarea {
width:90%;
height:70px;
margin-left:5px;
font-size:11px;
}

#commentspage div.ReportAbuse_Comment input {
padding:1px;
margin:1px 0px 3px 5px;
font-size:10px;
}
/* end /css/article/commentspage10.css */
