<div class="simple-article">
	<div class="cl">&nbsp;</div>
	<div class="holder image">&nbsp;</div>
	<div class="content">
    <p><%= user_brief.login %></p>
		<p>[information]</p>
	</div>
	<div class="cl">&nbsp;</div>
</div>
