<li>
	<p><%= venue.name.capitalize %></p>
	<p class="normal"><%= venue.city %> <%= venue.state %></p>
	<span class="separator">&nbsp;</span>
	<p class="normal">Discount : <%= venue.discount %></p>
</li>
