<div class="slider user-slider">
	<div class="buttons">
		<a href="#" class="prev">prev</a>
		<a href="#" class="next">next</a>
	</div>
	<ul>
	    <li>
	    	<div class="holder">&nbsp;</div>
	    	<p>[Info]</p>
	    </li>
	    <li>
	    	<div class="holder">&nbsp;</div>
	    	<p>[Info]</p>
	    </li>
	    <li>
	    	<div class="holder">&nbsp;</div>
	    	<p>[Info]</p>
	    </li>
	    <li>
	    	<div class="holder">&nbsp;</div>
	    	<p>[Info]</p>
	    </li>
	</ul>
</div>
