<!--this takes an array from community_helper method person_information_helper [user.friends.length, user.events.length, user.venues.length, user.fundraisers.length] -->
<p><small><%= person_information[0] %> Friends <%= person_information[1] %> Events <%= person_information[2] %> Venues</small></p>
