<!-- Top Buttons -->
<div id="top-buttons">
	<a href="#" class="signup">sign up</a>
	<a href="#" class="login">log in</a>
	<a href="#"><img src="css/images/button-facebook-connect.gif" alt="" /></a>
	<div class="cl">&nbsp;</div>
</div>
<!-- END Top Buttons -->
<!-- Logo -->
<h1 id="logo"><a href="#">GIVE CHANGE</a></h1>
<!-- END Logo -->
<!-- Navigation -->
<div id="navigation">
	<ul>
	    <li><a href="#">home</a></li>
	    <li><a href="#">give</a></li>
	    <li><a href="#">profile</a></li>
	    <li><a href="#">community</a></li>
	    <li><a class="active" href="#">news</a></li>
	    <li><a href="#">about</a></li>
	</ul>
	<div class="cl">&nbsp;</div>
</div>
<!-- END Navigation -->
<div class="cl">&nbsp;</div>

