<div class="article">
	<div class="cl">&nbsp;</div>
	<div class="holder image">&nbsp;</div>
	<div class="info">
		<p><%= featured_venue.name %></p>
		<br /><br />
		<p>902 Like it</p>
	</div>
	<div class="cl">&nbsp;</div>
	<p>[information]</p>
	<br /><br />
	<a href="#" style="width: 55px;" class="mbutton"><span class="line">&nbsp;</span>I Like It</a>
</div>
<br />
