<div class="simple-article"><br />
	<div class="cl">&nbsp;</div>
	<div class="holder image">&nbsp;</div>
	<div class="content">
		<p>[information]</p>
		<div class="cl">&nbsp;</div>
    <p><a href="#">Confirm</a> <a href="#">Ignore</a></p>
	</div>
	<div class="cl">&nbsp;</div>
</div>
