<div class="simple-article"><br />
	<div class="cl">&nbsp;</div>
	<div class="holder image">&nbsp;</div>
	<div class="content">
		<p>[information]</p>
		<div class="cl">&nbsp;</div>
	</div>
	<div class="cl">&nbsp;</div>
</div>
