<div class="simple-article">
	<p class="bl title"><%= update.charity.name %></p>
	<div class="cl">&nbsp;</div>
	<div class="holder image">&nbsp;</div>
	<div class="content">
		<p>[update info]</p>
		<div class="cl">&nbsp;</div>
	</div>
	<div class="cl">&nbsp;</div>
	<a href="#" class="right mbutton" style="width: 66px;"><span class="line">&nbsp;</span>Give Now</a>
	<p>7/15/09</p>
	<div class="cl">&nbsp;</div>
	<p class="right share">Share <a href="#"><img src="css/images/share-icos.gif" alt="" /></a></p>
	<div class="cl">&nbsp;</div>
</div>
