<div class="simple-article">
	<div class="cl">&nbsp;</div>
	<div class="holder image">&nbsp;</div>
	<div class="content">
		<p><span class="bl"></span><%= link_to(venue.name, community_place_url(venue)) %></p>
		<br /><br />
		<p class="right share">Share <a href="#"><img src="css/images/share-icos.gif" alt="" /></a></p>
		<p><span style="color: red;">902</span> Like it</p>
		<div class="cl">&nbsp;</div>
	</div>
	<div class="cl">&nbsp;</div>
</div>
